
    .img1{
        border: 2px solid red;
        border-radius: 10px;
        width: 200px;
        height: 100px;
    }

    .img2{
        display: block;
        margin: auto;
        border-radius: 50%;
        width: 30%;
        opacity: 0.7;
    }
 
