div{
    width: 400px;
    border: 1px red solid;
    margin-bottom: 40px;
}

#bg1{ 
    height: 50px;
    background-color: blue;

}

#bg2{
    height: 50px;
    background-image: url('img/bg2.jpg');
    background-repeat: repeat;
    border: 0px;

}

#bg3{
    background-image: url('img/bg3.png');
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position: right bottom;

}

.text{
    font-size: 40px;
    color: black;
    text-align: center;
    text-shadow: 4px 4px 4px #ff0000;
    
}